*{
    margin: 0;
    padding: 0;
    
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height:650px;
    /* background-color: rgb(80, 77, 77); */
    background-color: #1c1c1c;
    /* background-color: black; */
 
}
/* @media (max-width:860px){
    html,body{
        width:100vmin;
        height:100vmax;
    }
} */
.nav{
    position: fixed;
    top: 0px;
    height: 70px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
}
.nav span{
    cursor: pointer;
    margin: 10px 50px;
    padding: 3px;
}
.nav span:hover{
    scale: 1.1;
    border-bottom: 2px solid rgba(255, 255, 255, 0.583);
}
.nav div img{
    height: 1.5em;
    width:1.5em;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: 8px;
}
.logo{
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    padding-left: 60px;
}
.searchbar{
    position: absolute;
    display: flex;
    align-items: center;
    top: 85px;
    width: 40%;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #383833;
    color: white;
    padding: 10px 20px;
    cursor: text;
}
.searchbar i{
    padding-right: 30px;
    cursor: pointer;
}
.searchbar input{
    width: 80%;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    appearance: none;
    border: none;
    padding-left: 20px;
  
}
.searchbar input:focus{
    outline: none;
}
.searchbar input:hover{
    border: none;
}


.container{
    /* box-shadow: -5px -5px 50px 30px white;
    transition: box-shadow 1s ease; */
    /* animation: box-shadow 1.5s linear infinite alternate ; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    position: relative;
    height: 60%;
    width: 70%;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;

    
    /* display: inline-block; */
    
}
@keyframes box-shadow {
    from{
        box-shadow: -5px -5px 50px 30px white;
    }
    to{
        box-shadow: -2px -2px 30px 10px whitesmoke;
    }
}

.songitem{
    height: 100%;
    width: 50%;
    
    /* background-color: gray; */
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    /* overflow: scroll; */
        overflow-y: scroll;
    

}

.song{
    padding: 0 10px;
    transition: box-shadow 0.2s linear;
    margin: 10px 10px;
    height: 50px;
    /* width: 500px; */
    min-width: 90%;
    /* background-color: rgb(174, 174, 110); */
    background-color: #00060C;
    color: white;
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    
    flex-grow: 1;


    display: flex;
        align-items: center;
        justify-content: space-between;
        /* text-align: center; */

}
atif{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-left: 10px;
}
.song img{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 10px;
}
.disco,.gif{
    opacity: 0;
    transition: opacity 1s linear;
}

/* .song.hover{
        box-shadow: 5px 5px 10px 10px white;
    
} */

 @media (max-width:1640px) {
    .songitem{
        flex-direction: row;
        overflow-y: scroll;
        justify-content: space-between;
        
    }
    
    .container{
        margin-bottom: 20px;
    }
 }
 
 
.footer{
    height: 130px;
    width: 100vw;
    background-color: black;
    border-radius: 10px;
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: center;
}
.cont{
    width: 80%;
    height: 80px;
    /* background-color: rgb(150, 116, 72); */
    margin-top: 10px;
    position: relative;
}
.cont .gif{
    position: absolute;
    height: 50%;
    width: 40%;
    top: 60%;
    left: 0;
    color: white;
    font-size: 150%;
    font-style: oblique;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.gif img{
    height: 100%;
    width: 25%;
}
.footer input{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.box-time{
    position: absolute;
    left: 0;
    color: white;
}
.box-time2{
    position: absolute;
    right: 0;
    color: white;
}
::-webkit-scrollbar{
    appearance: none;
    background-color: black;
    border-radius: 20px;
    border: 1px solid black;
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    appearance: none;
    background-color: rgb(23, 21, 21);
    border-radius: 50px;
}

.navicon{
    display: inline-block;
    color: white;
    /* height: 50px; */
    /* width: 50px; */
    padding-right: 10px;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer i{
    color: white;
    padding: 10px;
}
.footer i:hover{
    color: #383833;
}


/* dashboard */
.bars,.sidebar{
    display: none;
}
.sidebar .box:active{
    text-decoration: 4px underline;
}



.login{
    display: none;
    /* height: 90vh; */
    overflow-y: scroll;
    width: 60%;
    position: absolute;
    
    top: 75px;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social{
    position: relative;
    display: flex;
    width: 40%;
    /* height: 5vmin; */
    border: 1px solid gray;
    border-radius: 20px;
    /* justify-content:center; */
    gap: 10%;
    padding: 1.2% 10%;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}
.social div{
    text-align: left;
    margin-left: 10px;
}
.social:hover{
    box-shadow: 2px 2px 5px 5px white;
}


button{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    background-color: #1ed760;
    font-size: 1.5em;
    margin-top: 100px;
    font-weight: bold;
}
button:hover{
    box-shadow: 2px 2px 5px 5px rgb(20, 212, 20);
}
.email{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    height: 120px;
    border-radius: 20px;
    width: 60%;
    
}

.email input{
    padding: 20px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1px solid gray;
}
input:hover{
    border: 1px solid white;
}

/* ************************ */
/* home-section */
/* ************************ */

.homesection{
    display: none;
    position: absolute;
    width: 70%;
    top: 180px;
    border-radius: 20px;
    background: linear-gradient(40deg, black,black,rgba(255, 255, 255, 0.199),black,black);
    /* background-color: black; */
    color: white;
    padding: 20px;
   
}
.homesection:hover{
    box-shadow:  5px 5px 10px 10px white;
}


/* ******************************** */
/* about-section */
/* ******************************** */

.aboutsection{
    display: none;
    position: absolute;
    top: 180px;
    width: 70%;
    background-color: whitesmoke;
    color: black;
    padding: 30px;
    border-radius: 20px;
}
.aboutsection h1{
    font-size: 4em;
}
.aboutsection a{
    color: green;
}
.aboutlogo i{
    margin-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.aboutsection f{
    font-weight: 700;
}

    @media (max-width:820px){
        .nav span{
            display: none;
        }
        .nav{
            z-index: 2;
        }
        .bars{
            display: block;
            margin-right: 30px;
    
        }
        
        .sidebar div{
            display: block;
            padding: 20px 20px;
        }
        .searchbar{
            width: 60%;
        }
        .menu-conatainer{
            height: 70%;
            width: 80%;
        }
        .sidebar{
            height: 50%;
            background-color: rgba(0, 0, 0, 0.45);
            position: absolute;
            top: 70px;
            right: 0;
            /* display: flex; */
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 4;
        }
        .song{
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            /* justify-content: center; */
            
        }
        atif{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        t{
            display: none;
        }
        .gif img{
            width: 60%;
        }
        .songitem{
            width: 100%;
            overflow-x: hidden;
        }
        .back_img4{
            display: none;
        }
        .login{
            width: 90%;
        }
        
    }
    @media (max-width:500px){
        .container{
            width: 90%;
        }
        .searchbar{
            width: 80%;
            font-size: 1em;
            height: 2%;
        }
        .login{
            width: 100%;
        }
        .social{
            width: 60%;
            font-size: 1em ;
        }
        .email,button{
            width: 80%;
        }
        .aboutsection f{
            font-weight: 500;
        }
    
    }